@font-face {
    font-family: "Neue Machina";
    src: local("Neue Machina"),
     url(~assets/fonts/NeueMachina-Regular.otf) format("truetype");
}

@font-face {
    font-family: "Neue Machina Bold";
    src: local("Neue Machina Bold"),
     url(~assets/fonts/NeueMachina-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Neue Machina Light";
    src: local("Neue Machina Light"),
     url(~assets/fonts/NeueMachina-Light.otf) format("truetype");
}

@font-face {
    font-family: "Monument Extended";
    src: local("Monument Extended"),
     url(~assets/fonts/MonumentExtended-Regular.otf) format("truetype");
}

@font-face {
    font-family: "Monument Extended Bold";
    src: local("Monument Extended Bold"),
     url(~assets/fonts/MonumentExtended-Ultrabold.otf) format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    src: local("Proxima Nova"),
    url(~assets/fonts/ProximaNova-Black.ttf) format("truetype");
}

html {
    font-family: "Neue Machina" !important;
}

.neue-bold {
    font-family: "Neue Machina Bold";
}

.neue-light {
    font-family: "Neue Machina Light";
}

.monex {
    font-family: "Monument Extended";
}

.monex-bold {
    font-family: "Monument Extended Bold";
}

.proxnova {
    font-family: "Proxima Nova";
}

.text-shadow {
    text-shadow: 5px 5px 15px rgba(180, 180, 180, 0.1);    
}